body {
    background-color: black;
    width: 100%;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
}
.modal-header {
    font-size: 32px;
    text-align: center;
}
.modal {
    color: black;
    font-size: 24px; 
    padding: 10px; 
    text-align: center;
}

.jumbotron {
    background-image: url(https://1366x768wallpaper.com/2015/10/14/on-the-hike-to-hiilawe-falls-in-hawaii-wallpaper.jpg);
    text-align: center; 
    background-size: 100%;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    color: black;
    padding-bottom: 10%;
    
}
#primaryHeader {
    font-size: 700%;
    text-shadow: 2px 2px 30px #88bacd;
    text-shadow: 5px 5px #04b855;
}

.container {
    width: 80%;
    margin: 0 auto;
    clear: both;
    color: white;
    border-radius: 8px;
}
h3 {
    color: white;
    padding: 5px;
}
#submit{
    padding: 5px;
    color: black;
    border-top: 1px solid #97f79d;
   background: #65d6ac;
   background: -webkit-gradient(linear, left top, left bottom, from(#04b855), to(#65d6ac));
   background: -webkit-linear-gradient(top, #04b855, #65d6ac);
   background: -moz-linear-gradient(top, #04b855, #65d6ac);
   background: -ms-linear-gradient(top, #04b855, #65d6ac);
   background: -o-linear-gradient(top, #04b855, #65d6ac);
   padding: 7px 15px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 17px;
   font-family: 'Acme', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
#submitReview {
    padding: 5px;
    color: black;
    border-top: 1px solid #97f79d;
   background: #65d6ac;
   background: -webkit-gradient(linear, left top, left bottom, from(#04b855), to(#65d6ac));
   background: -webkit-linear-gradient(top, #04b855, #65d6ac);
   background: -moz-linear-gradient(top, #04b855, #65d6ac);
   background: -ms-linear-gradient(top, #04b855, #65d6ac);
   background: -o-linear-gradient(top, #04b855, #65d6ac);
   padding: 7px 15px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 17px;
   font-family: 'Acme', sans-serif;
   text-decoration: none;
   vertical-align: middle;
}
::placeholder {
    color: black;
    opacity: 1;
}

input {
    background-color:#04b855;
     color: black;
     border-radius: 5px;
    }
textarea {
    background-color:#04b855;
    color: black;
    border-radius: 5px;
}


.box {
    width: 30%;
    border: 8px;
    margin: 0 auto;
    clear: both;
    color: white;
    border-radius: 8px;
    align-content: center;
    text-align: center;
}
#sortOptions {
    background-color: rgb(75, 133, 75);
     color: black;
     border-radius: 5px;
     text-transform: capitalize;
    }

.weatherArea {
    text-align: center;
}
.weatherDiv {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}