body {
    background-color:rgb(252,234,160);
    width: 100%;
    color: black;
}
.jumbotron {
    background-image: url(http://www.theoutdoorsource.com/media/catalog/category/backpacking-header-web-image.jpg);
    text-align: center; 
    background-size: 100%;
}
.container {
    width: 75%;
    margin: 0 auto;
    clear: both;
}